/composer.phar
/composer.lock
/box.phar
/vendor/
.php~
.idea
.DS_Store
*~
*.bak
._*
~*
.php_cs.cache

# Auto-update
/docs/old.phar

# Travis stuff
/.travis/ez-cmd-private.pem
/.travis/secrets.tar
/.travis/ez-cmd-private-nopassphrase.pem
/.travis/ez-cmd-private.pem.passphrase-protected
